/*
|--------------------------------------------------------------------------
| ARROW-LIST.SCSS
|--------------------------------------------------------------------------
|
| The arrow list is a simple unordere list using custom arrows as bullets
|
*/

.arrow-list {
  padding: 0;
  list-style: none;
  list-style-position: inside;

  &__item {
    position: relative;
    padding-left: 28px;
    padding-top: 1rem;

    font-weight: 500;

    &::before {
      content: "";

      width: 7px;
      height: 13px;

      position: absolute;
      background-image: url('../assets/images/list-arrow.svg');
      left: 0;
      margin-top: 5px;
    }
  }
}