/*
|--------------------------------------------------------------------------
| CONTACT.SCSS
|--------------------------------------------------------------------------
*/

.contact {
  padding: 1rem;

  &__container {
    padding: 110px 0;
  }

  &__header {
    margin-bottom: 110px;
  }

  &__form {
    position: relative;
    max-width: 400px;
    margin: auto;
    
    label.required::before {
      content: "* ";
      color: $red;
    }

    label.is-invalid {
      color: $red;
      display: block;
    }

    .contact-alert {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
      pointer-events: none;
    }

  }

}