/*
|--------------------------------------------------------------------------
| FOOTER.SCSS
|--------------------------------------------------------------------------
*/

.footer {
  display: flex;
  align-items: center;

  min-height: 255px;

  &__content_small {
    font-size: 0.87rem;
    p {
      margin-bottom: .3rem;
    }
  }
}