/*
|--------------------------------------------------------------------------
| QUOTE.SCSS
|--------------------------------------------------------------------------
*/
.quote {
  border: 10px solid $orange;
  text-align: center;

  &__icon {
    color: $orange;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    margin-top: 1rem;
  }

  &__text {
    max-width: 80%;
    margin: auto;
    font-size: 22px;
  }

  &__author {
    font-size: 0.875rem;
    margin: 2rem;
  }

  &__logo {
    margin-bottom: 2rem;
  }
}