/*
|--------------------------------------------------------------------------
| VARIABLES - COLORS.SCSS 
|--------------------------------------------------------------------------
|
| This file should be used for custom color variables, as well as bootstrap overrides
|
*/

$primary:     #5FDC5C;
$secondary:   #fff;
$orange:      #F69919;
$dark:        #000;