/*
|--------------------------------------------------------------------------
| VARIABLES - INPUTS.SCSS 
|--------------------------------------------------------------------------
|
| This file contains variabels related to forms and inputs
|
*/

$input-bg:                  transparent;
$input-border-radius:       0;
$input-focus-border-color:  transparent;