/*
|--------------------------------------------------------------------------
| VARIABLES - TYPOGRAPHY.SCSS 
|--------------------------------------------------------------------------
|
| This file contains variables related to typography and fonts
|
*/

$font-family-sans-serif:    "proxima-nova", sans-serif;

$display1-size:             5.3em;
$display2-size:             5.3em;

$display1-weight:           700;
$display2-weight:           100;

$lead-font-size:            0.75rem;
$lead-font-weight:          800;

$text-muted:                #A0A0A0;